---
import Footer from "../components/Footer";
import Header from "../components/Header";
import ImageGrid from "../components/ImageGrid";
import MainSection from "../components/MainSection";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Loopstudios Landing Page">
  <Header />
  <main>
    <h1 class="sr-only">Loopstudios Landing Page</h1>
    <MainSection />
    <ImageGrid />
  </main>
  <Footer />
</Layout>
